extends layout

block content
  h1= title
  p Welcome to #{title} yes ようこそ
  - var userNum = CREDS1.length;
  p #{CREDS1.test.username} creds
  p
    a(href="../dest1/") click this dest
  p
    a(href="/users/") 1:クリックで楽天CSVのダウンロード申請
  p
    a(href="/users/sj") 2:クリックで楽天CSVのダウンロード申請


  -var count = 0 
  for i, index in CREDS1
    - count ++
    p #{index} : #{i['username']}   
  p total account :  #{count}
