extends layout

block content
  h1= title
  p Welcome to #{title} yes ようこそ
  - var userNum = CREDS1.length;
  p test user is >> #{CREDS1.test.username} creds
  p
    a(href="/users/kuroko") 1 kuroko:クリックで楽天CSVのダウンロード申請
  p
    a(href="/users/sjapan") 2 sjapan :クリックで楽天CSVのダウンロード申請
  p
    a(href="/dest1/") open test folder
  p
    a(href="/screenshots/") open screenshot folder
  p
    a(href="/users/removeSS") !! SS フォルダを空にする


  -var count = 0 
  for i, index in CREDS1
    - count ++
    p #{index} : #{i['username']}   
  p total account :  #{count}
